.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app
.idea/compiler.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/dictionaries
.idea/misc.xml
library/library.iml
.idea/misc.xml
